@use "sass:list";
@use "sass:map";

html, body {
  height: 100%;
}

.youtube-div {
  padding-bottom: 0px;
  overflow: hidden;
  margin: 0;
}

// Speech bubble
.b {
  margin: 0 0 1ex 0;
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 2ex;
  padding-right: 2ex;
}

/* Transcription Segment */
.b p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1ex;
  padding-bottom: 1ex;

  line-height: 1.3;
}


/* Title of speech bubble */
.t {
  color: darkblue;
  font-size: larger;
  font-weight: bold;
  border-bottom: solid #cdcdcd;
  margin-bottom: 1.25ex;
  align-items: end;
  padding-bottom: 0.5ex;
}

.t p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* Colors */
@media (prefers-color-scheme: light) {
  /* Marked sentence. */
  .m {
    background-color: #f5f5f5;
  }

  /* One sentence of text. May be multiple languages. */
  .b p {
    color: #000000;
  }

  /* Deemphasized color for paragraph */
  .b p > span:nth-child(n+2):last-child {
    color: #666666;
  }

  .c-0 {
    background-color: #e3d3be;
  }

  .c-1 {
    background-color: #d7c0bc;
  }

  .c-2 {
    background-color: #c2c4d5;
  }

  .c-3 {
    background-color: #bfcdd8;
  }

  .c-4 {
    background-color: #bdd5cb;
  }

  .c-5 {
    background-color: #c4d4be;
  }

  .c-6 {
    background-color: #dfd8b7;
  }
}

@media (prefers-color-scheme: dark) {
  /* Marked sentence. */
  .m {
    background-color: #9d9d9d;
  }

  /* One sentence of text. May be multiple languages. */
  .b p {
    color: #ffffff;
  }

  /* Deemphasized color for paragraph */
  .b p > span:nth-child(n+2):last-child {
    color: #000000;
  }

  .c-0 {
    background-color: #9b7b79;
  }

  .c-1 {
    background-color: #967c88;
  }

  .c-2 {
    background-color: #858392;
  }

  .c-3 {
    background-color: #6a8890;
  }

  .c-4 {
    background-color: #768973;
  }

  .c-5 {
    background-color: #888569;
  }

  .c-6 {
    background-color: #977f6d;
  }
}
